*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    padding-top: 3rem;
    position: relative;
    left: 10%;
}
p {
    margin: 2%;
}
.text {
    text-decoration:underline;
    padding: 10px;
}
.tab {
    display: inline-table;
    margin:15px;
}
td {
    padding: 5px;
}
.tabla {
    width: 98%;
    position: relative;
    left: 20%;
}
.c1{
    padding: 1%;
}
.par {
    display: flex;
    justify-content:flex-end;
    position: relative;
    bottom: 30px;
}


/*RULES*//*
header {
    text-align: center;
    font-size: 13px;
    padding: 30px;
}
main {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
}
ol,ul,li,dl,dt {
    margin:10px;
}
*/